body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
}

.app {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.code {
	overflow-x: hidden;
}

#root {
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

h1 {
    color: #ff3e00;
	font-size: 2em;
	margin-top: 0;
}

h2 {
	margin-top: 0.38em;
	font-size: 1.5em;
}

@media (min-width: 640px) {
    #root {
        max-width: none;
    }
}

span.directory {
    padding: 0 0 0 0.25em;
    background-size: 1em 1em;
    font-weight: bold;
    cursor: pointer;
}

span.directory:before {
    content: "+ ";
    left: -5px;
    color: #ff3e00;
    font-family: Consolas, monospace;
}

.directory.expanded:before {
    content: "- ";
}

ul.directory {
    padding: 0.2em 0 0 0.5em;
    margin: 0 0 0 0.5em;
    list-style: none;
    border-left: 1px solid #1f2938;
}

span.file {
    cursor: pointer;
    padding-left: 0.4em;
}
